<header class="header">
  <div class="header__inner">
    <h1 class="header-logo">
      <a routerLink="/" class="header-logo__link">Git Cheer</a>
    </h1>
    <div class="header__actions">
      <ng-container *ngIf="authService.afUser$ | async as user; else default">
        <button
          mat-mini-fab
          color="primary"
          [style.background-image]="'url(' + user.photoURL + ')'"
          [matMenuTriggerFor]="userMenu"
          class="header__icon"
        ></button>
        <mat-menu #userMenu="matMenu" class="header__menu">
          <a mat-menu-item routerLink="/mypage">
            <mat-icon>account_circle</mat-icon>
            <span>マイページ</span>
          </a>
          <a mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span>設定</span>
          </a>
          <button mat-menu-item (click)="authService.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-template #default>
        <button
          class="btn-login"
          (click)="authService.login()"
          [disabled]="authService.loginProcessing"
        >{{ authService.loginProcessing ? 'ログイン中…' : 'ログイン' }}</button>
      </ng-template>
    </div>
  </div>
</header>
