@import 'variables';
@import 'mixins';

.footer {
  background-color: $color-base;
  color: rgb(128, 128, 128);
  &__container {
    font-size: 16px;
    padding: 16px;
    text-align: center;
    @include sp {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}
