.history-card {
  margin-bottom: 16px;
}

.one-area {
  margin: 32px 0;
}

.one-box {
  display: flex;
  justify-content: center;
  float: right;
  margin-bottom: 24px;
  &__avater-area {
    padding: 0 16px;
  }
  &__avater-icon {
    background-position: center;
    background-size: cover;
    box-shadow: none;
    background-color: rgb(150, 146, 146);
    padding: 0 20px;
  }
  &__speech-bubble {
    width: 63%;
    background-color: rgb(88, 224, 47);
    border-radius: 42px;
  }
  &__callout-comment {
    position: relative;
    padding: 10px 15px;
    font-size: 12px;
    width: 280px;
  }
  &__callout-comment::before {
    content: '';
    position: absolute;
    left: auto;
    top: -13px;
    right: 47px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid rgb(88, 224, 47);
    border-bottom: 15px solid rgb(88, 224, 47);
    border-radius: 50%;
    transform: rotate(-111deg);
  }
  &__callout-comment::after {
    content: '';
    position: absolute;
    left: auto;
    top: -36px;
    right: 35px;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #fff;
    border-radius: 28%;
    transform: rotate(-23deg);
  }
}

// left
.left-one-box {
  display: flex;
  margin-bottom: 24px;
  float: left;
  &__avater-area {
    padding: 0 16px;
  }
  &__avater-icon {
    background-position: center;
    background-size: cover;
    box-shadow: none;
    background-color: rgb(150, 146, 146);
    padding: 0 20px;
  }
  &__speech-bubble {
    width: 63%;
    background-color: rgb(214, 211, 211);
    border-radius: 42px;
  }
  &__callout-comment {
    position: relative;
    padding: 10px 15px;
    font-size: 12px;
    width: 300px;
  }
  &__callout-comment::before {
    content: '';
    position: absolute;
    left: auto;
    top: -13px;
    left: -10px;
    border-top: 15px solid transparent;
    border-right: 15px solid rgb(214, 211, 211);
    border-left: 15px solid transparent;
    border-bottom: 15px solid rgb(214, 211, 211);
    border-radius: 50%;
    transform: rotate(55deg);
  }
  &__callout-comment::after {
    content: '';
    position: absolute;
    left: auto;
    top: -36px;
    left: -28px;
    border-top: 21px solid transparent;
    border-right: 20px solid #fff;
    border-left: 25px solid #fff;
    border-bottom: 20px solid #fff;
    border-radius: 39%;
    transform: rotate(21deg);
  }
}
