@import "mixins";
@import "variables";
@import '~@angular/material/theming';

@include mat-core();

$new-kumamoto-primary: mat-palette($mat-indigo);
$new-kumamoto-accent: mat-palette($mat-pink, A200, A100, A400);

$new-kumamoto-warn: mat-palette($mat-red);

$new-kumamoto-theme: mat-light-theme((
  color: (
    primary: $new-kumamoto-primary,
    accent: $new-kumamoto-accent,
    warn: $new-kumamoto-warn,
  )
));
@include angular-material-theme($new-kumamoto-theme);

*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding-top: 56px;
  font-family: $font-default;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  @include pc {
    padding: 24px;
  }
}
