$color-main: #53beae;
$color-base: #f3f9f7;
$color-font: #000000;
$color-btn: #424242;

$font-default: '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif;
