.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  background-color: #fff;
  padding: 12px;
  margin: 0 8px;
  justify-content: space-between;
  &__main {
    display: flex;
  }
  &__avatar {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: center/cover;
    background-color: #bdbdbd;
    margin-right: 16px;
  }
  &__contents {
    text-align: left;
    flex: 1;
  }
  &__text {
    font-size: 14px;
  }
  &__user-name {
    font-size: 18px;
  }
  &__menu {
    &:hover {
      background-color: #eee;
    }
  }
}
